.root {
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);

  display: flex;
  align-items: center;
  justify-content: center;

  /*background: #020617;*/
}

.image {
  object-fit: contain;
  object-position: center;
}
